@import url(./fonts.css);


:root{
    --fm-1: "Montserrat";
    --fm-2: "Comfortaa";
    --fm-3: "Roboto";
    --primary-color: #F18128;
    --link-color: #ED8E00;
    --dark-blue: #040D1f;
    --white: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--fm-1);
    background: var(--dark-blue);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.all-btn{
    max-width: 166px;
    width: 100%;
    background: var(--primary-color);
    border-radius: 4px;
    border: 1px solid #000;
    display: inline-block;
    padding: 17px 0;
    text-align: center;
    color: #000;
    font-family: var(--fm-3);
    font-size: 14px;
    font-weight: 500;
    line-height: 12px;
    transition: .5s;
}

.all-btn:hover{
    background: var(--dark-blue);
    color: var(white);
}

.title{
    color: var(--primary-color);
    font-size: 36px;
    font-weight: 400;
    font-family: var(--fm-2);
    border-bottom: 2px solid var(--primary-color);
    width: max-content;
    text-transform: capitalize;
}

.ads{
    width: 100%;
    background: linear-gradient(90.09deg, #0031AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
    color: var(--white);
}

.ads_span{
    font-size: 16px;
    font-weight: 400;
    max-width: 166px;
    width: 100%;
    font-family: var(--fm-2);
}

/*ads end*/

/*nav start*/

.nav{
    background: rgba(1, 3, 5, 0.80);
    backdrop-filter: blur(7.5px);
    position: sticky;
    top: 0;
    left: 0;
}

.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo{
    color: var(--white);
    column-gap: 5px;
    font-size: 18px;
    font-weight: 700;
    font-family: var(--fm-2);
}

.nav_logo_img{
    object-fit: cover;
}

.nav_list{
    display: flex;
    column-gap: 24px;
}

.nav_link{
    padding: 42px 6px;
    display: inline-block;
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    position: relative;
    transition: .5s;
}

.nav_link::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--link-color);
    position: absolute;
    bottom: 0;
    border-radius: 23px 10px 0px 0px;
    transition: .5s;
}

.nav_link:hover,
.nav_link:hover::after{
    width: 100%;
    color: var(--link-color);
}